@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
}
/* @theme: defines classes for tailWind*/
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-roboto: var(--font-roboto);
  --font-roboto-mono: var(--font-roboto-mono)
}

/* Dark Mode Styling */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #16181f;
    --foreground: #ededed;
    --sidebar: #1C2434;
    --sidebarfont: #99c4d7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: sans-serif, Arial, Helvetica ; */
}

div, Button {
  font-family:var(--font-roboto-mono); /* NOTE: this font is using the variable defined in layout.tsx NOT the one in @theme above */
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Chrome, Safari, Opera */
}

Button:hover {
  background-color: #ededed;
  cursor:grab;
}
/* @utility - define custom syling */


/* @layer - define Component Styling */
@layer components {
  .button {
    background-color: var(--foreground);
  }
  
}
