@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-roboto-mono);
  
}

/* Dark Mode Styling */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #16181f;
    --foreground: #ededed;
    --sidebar: #1C2434;
    --sidebarfont: #99c4d7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Component Styling */
@layer components {
  .button {
    background-color: var(--foreground);
  }
}
